# rtorrent
directory = /home/alex/torrent
session = /tmp/alex/torrent

port_range = 49152-50000
port_random = yes

# encryption
encryption = allow_incoming,try_outgoing,enable_retry

# Max memory usage
max_memory_usage=500M

#Enable the default ratio group.
ratio.enable=

# Change the limits, the defaults should be sufficient.
ratio.min.set=100
ratio.max.set=200
ratio.upload.set=20M

# Changing the command triggered when the ratio is reached.
method.set = group.seeding.ratio.command, d.close=, d.erase=

# Enable the DHT
dht = on
dht_port = 6881
protocol.pex.set = yes
#dht.add_node = router.utorrent.com

# XML-RPC
#scgi_port = localhost:7777
#scgi_local = /tmp/alex/torrent/rpc.socket
